@model PruebaT.Web.Models.Bio

@{
    ViewData["Title"] = "Bio";
}

<h2>Bio</h2>

<div>
    <h4>Bio</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
